/*  CSS Document                             */

body {
    margin: 0; padding: 0; font-size: 16px; font-family: 'Courier New', Courier, monospace; background-color: rgb(239, 243, 245);
}

.VRDI {
    font-size: 17px; font-family: 'Courier New', Courier, monospace;
    margin: 10px 250px;
}

p#paragraph1 {
    font-size: 1em;
    margin: 80px 250px;
    text-align: justify;
}




.timeline {position: relative; margin: 30px 0px 20px 0px;}

.timeline h1 {
    position: absolute;
    top: 10px;
    left: 0px;
    text-align: center;
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    font-size: 1.8em;
    z-index: 1;
    text-transform: uppercase;
    color: black;
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.timeline .panel_container {
    overflow: hidden;
    position: relative;
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 650px;
	/*background: #26016a; /* Old browsers */
	/*background: -moz-linear-gradient(left,  #26016a 44%, #d14001 47%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, right top, color-stop(45%,#26016a), color-stop(50%,#d14001)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(left,  #26016a 45%,#d14001 50%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(left,  #26016a 45%,#d14001 50%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(left,  #26016a 45%,#d14001 50%); /* IE10+ */
	/*background: linear-gradient(to right,  #26016a 45%,#d14001 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26016a', endColorstr='#d14001',GradientType=1 ); /* IE6-9 */
}


.timeline .background_slider {
    position: absolute; width: inherit; height: inherit;
}

/*.timeline .background_slider img { position: absolute; top: 0px; left: 0px;}*/
.timeline .panel_slider {width: 100%; position: absolute; top: 200px;}

.timeline .panel {width: 340px; position: absolute;}

.timeline .panel_content { padding: 75px 10px 0px 40px; position: relative; font-family: 'Courier New', Courier, monospace;}
.timeline .panel_content h2 { font-size: 1em; color: black; margin: 0px 0px 8px 0px;}

.timeline .panel_content p {margin: 0px 0px 1em 0px; position: relative; color: black;}

.timeline .panel_content .label {
    position: absolute;
    top: 12px; right: 0px;
    font-size: 4em;
    color: rgba(255,255,255,.2);
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-family: inherit;
    font-size: 1em;
}

.timeline nav { position: absolute; bottom: 0px; left: 0px; text-align: center; width: inherit;}
.timeline nav a {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: .9em;
    display: inline-block;
    padding: 5px 10px;
    border-color: #fff;
    border-style: solid;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 0px;
    border-top-width: 8px;
    text-decoration: none;
}

.timeline nav a:first-child {border-left-width: 8px;}
.timeline nav a:last-child {border-right-width: 8px;}
.timeline nav a.selected { background-color: rgba(255,255,255,.55);}

.timeline .panel img.arpanet {margin:0px 0px 10px 0px;}
.timeline .panel img.tcp { float: left; margin:10px 20px 0px 0px;}
.timeline .panel img.www { float: left; margin: 10px 15px 0px 0px;}
.timeline .panel img.voip { float: right; margin: 10px 0px 0px 10px; }
.timelne .panel img.telecommunications_usage {float: right; margin: 10px 30px 0px 10px;}



.clear_both { clear:both; }

@media screen and (max-width: 500px) { 
    .timeline { margin: 0px; background: #81194c url(../images/backgound_small.jpg) no-repeat center 0px;}
    .timeline h1 {text-align: left; padding: 10px 10px 10px 20px; }
    .timeline .panel_container {height: auto; background: none; filter: none; margin: 0px;}
    .timeline .panel_slider { position: static; height: auto;}

    .timeline .panel {
        width: auto;
        height: auto;
        position: static;
        border-top: 1px solid rgba(255,255,255,.3);
        padding-bottom: 20px;
    }

   
   
    .timeline nav {display:none;}
    .timeline .background_slider {display:none; }
    .timeline .panel:first-child {padding-top: 40px;}
    .timeline .panel_content {padding-top: 60px; }
    .timeline .panel_content .label {top: -10px; right:10px;}
    .timeline .panel img.www {margin:0px 25px 0px 0px;}
    .timeline .panel img.voip {margin:10px 40px 0px 20px;}
    .timeline .panel img.telecommunications_usage {float: left; margin: 10px 15px 0px 0px;}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: 30px 80px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Modal (background) */
  #myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 200px;
  }
  
  /* The Close Button */
  #close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close:hover,
  #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


 
  
  /* The Modal (background) */
  #myModal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 200px;
  }
  
  /* The Close Button */
  #close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close1:hover,
  #close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

   /* The Modal (background) */
   #myModal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 50px;
  }
  
  /* The Close Button */
  #close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close2:hover,
  #close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Modal (background) */
  #myModal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content4 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 150px;
  }
  
  /* The Close Button */
  #close4 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close4:hover,
  #close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

   /* The Modal (background) */
   #myModal0 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content0 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 100px;
  }
  
  /* The Close Button */
  #close0 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close0:hover,
  #close0:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


 /* The Modal (background) */
 #myModal5 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content5 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 200px;
  }
  
  /* The Close Button */
  #close5 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close5:hover,
  #close5:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Modal (background) */
 #myModal6 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content6 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 120px;
  }
  
  /* The Close Button */
  #close6 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close6:hover,
  #close6:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



  /* The Modal (background) */
 #myModal7 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content7 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 230px;
  }
  
  /* The Close Button */
  #close7 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close7:hover,
  #close7:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Modal (background) */
 #myModal8 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content8 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 230px;
  }
  
  /* The Close Button */
  #close8 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close8:hover,
  #close8:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

    /* The Modal (background) */
 #myModal9 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content9 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  #close9 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close9:hover,
  #close9:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



     /* The Modal (background) */
 #myModal10 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content10 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 130px;
  }
  
  /* The Close Button */
  #close10 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close10:hover,
  #close10:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



     /* The Modal (background) */
 #myModal11 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content11 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 130px;
  }
  
  /* The Close Button */
  #close11 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close11:hover,
  #close11:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

   /* The Modal (background) */
 #myModal12 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content12 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 150px;
  }
  
  /* The Close Button */
  #close12 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close12:hover,
  #close12:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

   /* The Modal (background) */
 #myModal13 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content13 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 100px;
  }
  
  /* The Close Button */
  #close13 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close13:hover,
  #close13:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



  /* The Modal (background) */
 #myModal14 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content14 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 150px;
  }
  
  /* The Close Button */
  #close14 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close14:hover,
  #close14:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Modal (background) */
 #myModal15 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content15 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 120px;
  }
  
  /* The Close Button */
  #close15 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close15:hover,
  #close15:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }







  /* The Modal (background) */
  #myModal16 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content16 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    height: 280px;
  }
  
  /* The Close Button */
  #close16 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close16:hover,
  #close16:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
